@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Noto sans lao','Roboto',sans-serif !important;
  font-size: 12px;
  /*  */
}
body{
  background: #f1f5f9;
  /* padding: 24px; */
  color: #374151;
}

.ant-picker-input > input::placeholder {
  color: #01A7B1 !important;
}

.custom-switch.ant-switch-checked {
  @apply bg-green-400 !important; /* Tailwind class for #4ADE80 */
}
/* input type text */
input[type="text"] {
  font-size: 14px;
}

/* input outline color #01A7B1 */
input[type="text"]:focus{
  outline: none;
  border: 2px solid #01A7B1;
}
textarea{
  font-size: 14px;
  
}
textarea:focus{
  outline: none;
  border: 2px solid #01A7B1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* CSS for the Input label when the field is not empty */
.input-not-empty label {
  transform: translateY(-100%);
  font-size: 12px;
  color: #01A7B1;
}

.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  transform: translateY(-100%);
  font-size: 12px;
  color: #01A7B1;
}
